/* css comment!! */
:root {
    --main-color: #d7f57d;
    --secondary-color: #87b839;
    --dark-color: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

header nav ul li {
    border-width: 0px 0px 3px 0px;
    border-color: var(--main-color);
    border-style: solid;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

header nav ul li:hover {
    border-color: var(--secondary-color);
}

header nav {
    width: 450px;
}

footer {
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

body section { 
    padding-top: 50px;
}

footer div { 
    font-weight: bolder;
}
.my-name-box {
    background-color: var(--main-color);
    margin: 10px 0px 15px 0px;
    padding-left: 30px;
    padding-right: 5px;
}

.my-name-box a {
    color: black;
}

.my-name-box:hover {
    background-color: var(--secondary-color);
    margin: 10px 0px 15px 0px;
    padding-left: 30px;
    padding-right: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-image: url("../images/herobg.png");
    background-position: center;
    background-size: cover;
}


.hero h2 {
    font-size: 50px;
    font-weight: bolder;
}