/* css comment!! */
:root {
    --main-color: #d7f57d;
    --main-color-transparent: rgba(215,245,125, 0.5);
    --secondary-color: #87b839;
    --secondary-color-transparent: rgba(135,184,57, 0.5);
    --dark-color: #252525;
    --dark-color-transparent: rgba(37,37,37, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0px 20px 0px;
}

.bordered-p {
    width: 75%;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    padding: 10px;
}

header {
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

header nav ul li {
    border-width: 0px 0px 3px 0px;
    border-color: var(--main-color);
    border-style: solid;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

header nav ul li:hover {
    border-color: var(--secondary-color);
}

header nav {
    width: 450px;
}

footer {
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.section-header {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin: 10px;
    text-align: right;
    font-size: 40px;
}

.work-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-item {
    background-color: var(--dark-color);
    border-style: solid;
    border-width: 4px;
    border-color: var(--secondary-color);
    flex-grow: 1;
    text-align: center;
    margin: 10px;
}

footer div { 
    font-weight: bolder;
}
.my-name-box {
    background-color: var(--main-color);
    margin: 10px 0px 15px 0px;
    padding-left: 30px;
    padding-right: 5px;
}

.my-name-box a {
    color: black;
}

.my-name-box:hover {
    background-color: var(--secondary-color);
    margin: 10px 0px 15px 0px;
    padding-left: 30px;
    padding-right: 5px;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-image: url("../images/herobg.png");
    background-position: center;
    background-size: cover;
}

.hero div {
    background-color: var(--main-color-transparent);
    border-color: var(--dark-color);
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    padding: 25px;
}


.hero h2 {
    font-size: 50px;
    font-weight: bolder;
}